
.BtnDefault
{
    background-color: white;
    color: #49b3ef;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.BtnDefault:hover
{
    background-color: salmon;
    color: white;
    font-weight: 600;
}

.BtnFillBlue
{
    background-color: #49b3ef;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
}
.BtnFillBlue:hover
{
    background-color: salmon;
    color: white;
    font-weight: 600;
}