.PageHeader
{


}
.Logo
{
    width: 130px;
    margin: 10px;
    display: inline;
}
.RightUpSide
{
    float: right;
    display: inline-block;
    margin: 14px 5px 5px 5px;
}

/*일정 버튼묶음*/
.ScheduleBar
{
    /*일정간격 띄우기*/
    display: flex;
    justify-content: space-between;
    /*일정간격 띄우기*/

    padding: 5px;
    background-color: #49b3ef;
}

.ScheduleBar button
{
    text-align: center;
    font-weight: 600;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #49b3ef;
    color: white;
}

.ScheduleBar button:hover{
    color: salmon;
}
