/* .TabPanel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
.content-wrapper {
  margin: 10px;
  width: 75vw;
  position: relative;
}
.scrollbar-wrapper{
  flex-grow: 1;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
}
.content-wrapper > div > div > div {
  padding: 0px;
}
.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 400px) {
  .content-wrapper {
    width: 100%;
    margin: 0px;
  }

  .card-section {
    display: grid;
    grid-template-columns: 3fr;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    width: 100%;
    margin: 0px;
  }
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
