/* .TabPanel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
.content-wrapper{
width: 70vw;
}

.content-wrapper > div > div > div{
  padding:0px;
}
.card-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 400px) { 
  .card-section{
    display: grid;
    grid-template-columns: 3fr;
  }
 }

 @media screen and (max-width: 768px) { 
  .card-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 }
